<!DOCTYPE html>
<html>
<head>
  <title>ComandosQueHablan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1">
	<title>Sistema de Recomendaciones</title>
	<meta name="description" content="Hello World">
	
	
	<!--estilos, colores y diseño para la barra de navegacion, los containers y los demas elementos de bootstrap --> 
	<style> 

	body  {
    background-image: url("../fotos/atacama_desierto.jpg");
    background-size: 100% 280%;
		}

	.transparent-grey{
			background-color: #ccc;
			padding: 20px;}
	.color-texto{
		color: #ffffff}
		
	</style>
</head>

<body>
<div class='container' style="background:transparent;" >
	<div class="col-sm-4">
		<div class="transparent-grey">
			<h2>Iniciar Sesión</h2>
			<%= flash[:danger] %>
			<%= form_for(:session, url: login_path) do |f| %>
			  <%= f.text_field :email %>
			  <%= f.password_field :password %>
			  <%= f.check_box :remember_me %>
			  <span>Recuerdame</span>
			  <%= f.submit "Iniciar sesion", class: 'btn btn-success' %>
			  <%= link_to 'regresar', root_url, class: 'btn btn-danger' %> 
			<% end %>
		</div>
	</div>
</div>

</body>


</html>