<p id="notice"><%= notice %></p>

 <%= image_tag @item.image.url(:large) %>
<p>
  <strong>Region:</strong>
  <%= @item.region %>
</p>

<p>
  <strong>Name place:</strong>
  <%= @item.name_place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Weather:</strong>
  <%= @item.weather %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @item.environment %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @item.activities %>
</p>
  <strong>Rating</strong>
  <ul class="rating">
    <%(1..5).each do |i| %>
      <li class="rating_star"></li>
    <% end %>
  </ul>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
