<%= form_for @item, html: { multipart: true } do |f| %> 
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Imagen%><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :Lugar %><br>
    <%= f.text_field :Place %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
  <div class="field">
    <%= f.label :Provincia%><br>
    <%= f.select :region, ['Isla de Pascua', 'Los Andes', 'Petorca', 'Quillota', 'San Antonio', 'San Felipe de Aconcagua', 'Valparaíso', 'Marga Marga']%>
    <!--<%= f.text_field :region %> -->

  </div>
  </div>
  <div class="field">
    <%= f.label :Clima %><br>
    <%= f.text_field :weather %>
  </div>
  <div class="field">
    <%= f.label :Tipo_de_ambiente %><br>
    <%= f.select :environment, ['Natural', 'Artificial'] %>
    <!--<%= f.text_field :environment %>-->
  </div>
  <div class="field">
    <%= f.label :Tipo_de_actividades %><br>
    <%= f.text_field :activities %>
  </div>
  <div class="actions",>
    <%= f.button :submit => "", class: "btn btn-default" %>
    <%= link_to 'Volver', items_path, class: "btn btn-default" %>

  </div>
<% end %>
