<% unrated_items = get_unrated_items(current_user) %>

<h3>Lugares recomendados</h3>
<!--<%= user_average_rating(current_user) %>-->

<ul class=recommended-items>
  <% unrated_items.each do |item| %>
    <% if prediction(current_user, item) > 0 %>
      <li>
        <figure>
          <figcaption>
            <strong><%= item.place %></strong>
          </figcaption>
        </figure>
      </li>
      <%= link_to (image_tag item.image.url(:thumb), class: 'image'), item %>
      <% unrated_items.delete(item) %>
    <% end %>
  <% end %>
</ul>

<h3>Otros lugares</h3>
<ul class=other-items>
  <% unrated_items.each do |item| %>
    <li>
    <figure>
      <figcaption>
        <strong><%= item.Place %></strong>
      </figcaption>
    </figure>
    </li>
    <%= link_to (image_tag item.image.url(:thumb), class: 'image'), item %>
  <% end %>
</ul>
