<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track" => false %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
      <h1 class="review_title"><%= @item.Place %></h1>  
        <%= image_tag @item.image.url(:medium) %>
        <!--<p><%= @avg_review %></p>-->
        <div class="star-rating" data-score=<%= @avg_review %>>Ranking: </div>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <td><strong>Descripción: </strong></td>
              <td><%= @item.description %></td>
            </tr>
            <tr>
              <td><strong>Provincia: </strong></td>
              <td><%= @item.region %></td>
            </tr>
            <tr>
              <td><strong>Clima: </strong></td>
              <td><%= @item.weather %></td>
            </tr> 
            <tr>
              <td><strong>Tipo de ambiente: </strong></td>
              <td><%= @item.environment %></td>
            </tr> 
            <tr>
              <td><strong>Tipo de actividades:</strong></td>
              <td><%= @item.activities %></td>
            </tr> 

          </table>              
        </div>
      </div>
    </div> 
  </div>
  <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">
      <h2>Comentarios</h2>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <% if @review.blank? %>
                <h3>No existe un comenario para este lugar, !se el primero!</h3>
                <p><%= link_to "escribe un comentario", new_item_review_path(@item), class: "btn btn-danger" %> </p>
              <%else%>
                <% @review.each do |review| %>
                  <div class="review">
                    <tr>
                      <div class="reviews">
                        <div class="star-rating" data-score= <%= review.rating %> ></div>
                          <p><%= review.user.email if review.user %></p>
                          <p><%= review.comment %></p>
                      </div>
                    </tr>
                  </div>
                <% end %>
              <%end%>
            </tr> 
          </table>              
        </div>
      </div>
    </div> 
  </div>
<%= link_to 'Dejar comentario', new_item_review_path(@item), class: "btn btn-default"  %>
<%= link_to 'Editar', edit_item_path(@item), class: "btn btn-default" %> 
<%= link_to 'Volver', items_path, class: "btn btn-default" %>


<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>

<script>
    $('.avg_review').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>